@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DocsSystem</h1>
    <p>
        DocsSystem is an ASP.NET Core MVC project designed to create a simple and efficient documentation system. 
        It leverages Markdown files to render content dynamically. 
        The project aims to provide an easy-to-use solution for managing and displaying documentation in a structured format.
    </p>
</div>

<div>
    <ul>
        <li>
            <a href="/docs/shad-event-api">shad-event-api</a>
        </li>
        <li>
            <a href="/docs/fa/shad-event-api">fa shad-event-api</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/html/shad-event-api">shad-event-api</a>
        </li>
        <li>
            <a href="/html/fa/shad-event-api">fa shad-event-api</a>
        </li>
    </ul>
</div>
