@import url("../fonts/fontawesome/css/all.min.css");

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/IranSans/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranSans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranSans/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranSans/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}


@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IranYekan/eot/iranyekanwebbold.eot');
    src: url('../fonts/IranYekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranYekan/woff2/iranyekanwebbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/woff/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IranYekan/eot/iranyekanweblight.eot');
    src: url('../fonts/IranYekan/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranYekan/woff2/iranyekanweblight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/woff/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IranYekan/eot/iranyekanwebregular.eot');
    src: url('../fonts/IranYekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranYekan/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/woff/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/ttf/iranyekanwebregular.ttf') format('truetype');
}

/* Latin fonts (Roboto) */

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IranYekan/eot/robotobold.eot');
    src: url('../fonts/IranYekan/eot/robotobold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranYekan/woff2/robotobold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/woff/robotobold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/ttf/robotobold.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IranYekan/eot/robotolight.eot');
    src: url('../fonts/IranYekan/eot/robotolight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranYekan/woff2/robotolight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/woff/robotolight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/ttf/robotolight.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IranYekan/eot/robotoregular.eot');
    src: url('../fonts/IranYekan/eot/robotoregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IranYekan/woff2/robotoregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IranYekan/woff/robotoregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IranYekan/ttf/robotoregular.ttf') format('truetype');
}
