pre {
	position: relative;
	border-radius: 8px;
	padding: 16px;
	background: #2d2d2d;
	overflow: auto;
	margin-top: 20px;
	white-space: pre-wrap;
	word-wrap: normal;
}

.code-frame {
	background: #282c34;
	border-radius: 8px;
	/*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);*/
	margin: 20px 0;
	overflow: hidden;
}


	.code-frame pre {
		max-height: 400px;
		overflow: auto;
		/*padding-right: 50px;*/
	}


.copy-button {
	position: absolute;
	top: 10px;
	/*right: 10px;*/
	border: none;
	background: #4caf50;
	color: white;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 12px;
	opacity: 0.9;
}

	.copy-button:hover {
		opacity: 1;
	}

.line-numbers-rows {
	padding-right: 10px !important;
}
