html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

pre, code {
    direction: ltr; /* جهت پیش‌فرض برای نمایش کدها */
    unicode-bidi: isolate; /* جلوگیری از تغییر ترتیب */
}


    pre code.rtl {
        direction: rtl; /* جهت‌دهی راست به چپ */
        unicode-bidi: plaintext; /* تغییر نحوه ترتیب کاراکترها برای نمایش صحیح */
        text-align: left; /* اطمینان از نمایش صحیح */
    }
